
/* .container {
    height: 100px;
    width: 100vw;
    background: rebeccapurple;
} */

/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.list-container {
    align-items: flex-start;
} */